@import "styles/global";

.sidebar__container {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background: $brow;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    background: rgb(33, 33, 33);
    background: linear-gradient(140deg, rgba($brow, 0) 0%, rgba($brow, 0.5886729691876751) 30%, rgba($brow, 1) 100%);

    @media(max-width: 720px) {
        display: none;
    }

    &.active {
        display: flex;
    }

}

.menu-icon {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 20px;
    display: none;

    @media(max-width: 720px) {
        display: block;
    }
}